<header id="home">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Van Mobile Apps</h1>
            <hr>

            <p>
                Does Your Business Need A Mobile Application That Your Users Can Engage With?
                <br />It's Easier Than You Think
                <br />By this time next month you can have a mobile application available to your customers.
            </p>
            <p>
                Don't hesitate to contact us right now
                 and we'll be more than happy to give you an estimate on the cost and time frame of moving your mobile application forward.
            </p>
            <p>
                We take care all the nitty-gritty work for you so you don't have to.
                <br />And we keep in close contact with frequent updates.
            </p>
            <p>
                Anytime you need changes to existing features or new features, we're right here to get those implemented quickly
            </p>

            <p>
                So don't use the old model of trying to hire and manage all this yourself; 
                but rather, reduce your risk by letting those who are already experts make it happen.
            </p>

            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>

<div class="row">
    <div class="col-md-12">
        <img src="https://s16.postimg.org/hrkpddn9x/fat.gif"></img>
    </div>
</div>
        




        </div>
    </div>


</header>