<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Van Mobile Apps</h1>
            <hr>
            <p>Does Your Business Need A Mobile Application That Your Users Can Engage With?
                <br />It's Easier Than You Think
                <br />By this time next month you can have a mobile application available to your customers.
                <br /> Don't hesitate to contact us right now and we'll be more than happy to give you an estimate on the cost and time frame of moving your mobile application forward.
            </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
