<header id="home" class="overlay">
    <div id="home2">



    <div class="header-content">
        <div class="header-content-inner">
            <h1>Van Mobile Apps</h1>
            <hr>





<div class="row">
    <div class="col-md-8 col-sm-8">


            <div id="headerstory">
                <p>
                    Does Your Business Need A Mobile Application That Your Users Can Engage With?
                    <br />It's Easier Than You Think!
                    <br />By this time next month you can have a mobile application available to your customers.
                </p>
                <p>
                    Don't hesitate to contact us right now and we'll be more than happy to give you an estimate on the cost and time frame of
                    moving your mobile application forward.
                </p>
                <p>
                    We take care of all the nitty-gritty work for you so you don't have to.
                    <br />And we keep in close contact with frequent updates as we flesh out your requirements.
                </p>
                <p>
                    Anytime you need changes to existing features or new features, we're right here to get those implemented quickly.
                </p>

                <p>
                    So don't use the old model of trying to hire and manage all this yourself; but rather, reduce your risk by letting those
                    who are already experts make it happen.
                </p>

                <a href="#about" id="btnFindOutMore" class="btn btn-primary btn-xl page-scroll">Find Out More</a>

            </div>




    </div>

   <div class="col-md-4 col-sm-4">

        <div style="background: url('img/iphone-frame.png') -25% 56% / 392px 610px no-repeat transparent;position: absolute;height: 609px;width: 593px;">
            <img id="mobiledemo" src="img/fat.gif" style="position: absolute; left: 19px; top: 70px; height: 455px"></img>
        </div>

        
        
    </div>

</div>
    



        </div>
    </div>

</div>
</header>