<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter" style="text-align: center; margin-bottom: 10px;">

            <div class="col-lg-4 col-sm-6">
                 <h4>Design Process</h4>
                    <img src="img/portfolio/1.jpg" class="img-responsive" style="width: 90%; margin: auto;" alt="">
            </div>

            <div class="col-lg-4 col-sm-6">
                 <h4>Map View</h4>
                    <img src="img/portfolio/2.gif" class="img-responsive img-portfolio-gif" alt="">
            </div>

            <div class="col-lg-4 col-sm-6">
                <h4>Build for both iPhone and Android</h4>
                    <img src="img/portfolio/3.jpg" class="img-responsive" style="width: 90%; margin: auto;" alt="">
            </div>

            <div class="col-lg-4 col-sm-6">
                <h4>List View</h4>
                    <img src="img/portfolio/4.gif" class="img-responsive img-portfolio-gif" alt="">
            </div>

            <div class="col-lg-4 col-sm-6">
                <h4>User Profiles</h4>
                    <img src="img/portfolio/5.gif" class="img-responsive img-portfolio-gif" alt="">
            </div>

            <div class="col-lg-4 col-sm-6">
                <h4>Dialogs and Popups</h4>
                    <img src="img/portfolio/6.gif" class="img-responsive img-portfolio-gif" alt="">
            </div>

        </div>
    </div>
</section>
